[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
	ignore=dirty
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
	ignore=dirty
[submodule ".vim/bundle/NERD_Commenter"]
	path = .vim/bundle/NERD_Commenter
	url = git://github.com/vim-scripts/The-NERD-Commenter.git
	ignore=dirty
[submodule ".vim/bundle/XPTemplate"]
	path = .vim/bundle/XPTemplate
	url = git://github.com/drmingdrmer/xptemplate.git
	ignore=dirty
[submodule ".vim/bundle/NERD_tree"]
	path = .vim/bundle/NERD_tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
	ignore=dirty
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
	ignore=dirty
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
	ignore=dirty
[submodule ".vim/bundle/zencoding"]
	path = .vim/bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
	ignore=dirty
[submodule ".vim/bundle/LaTeX_Suite"]
	path = .vim/bundle/LaTeX_Suite
	url = git://github.com/vim-scripts/LaTeX-Suite-aka-Vim-LaTeX.git
	ignore=dirty
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
	ignore=dirty
[submodule ".vim/bundle/git-vim"]
	path = .vim/bundle/git-vim
	url = git://github.com/motemen/git-vim.git
	ignore=dirty
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
	ignore=dirty
[submodule ".vim/bundle/xml-vim"]
	path = .vim/bundle/xml-vim
	url = git://github.com/vim-scripts/xml.vim.git
	ignore=dirty
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
	ignore=dirty
[submodule ".vim/bundle/echofunc"]
	path = .vim/bundle/echofunc
	url = git://github.com/vim-scripts/echofunc.vim.git
	ignore=dirty
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
	ignore=dirty
[submodule ".vim/bundle/google-translator"]
	path = .vim/bundle/google-translator
	url = git://github.com/maksimr/vim-translator.git
	ignore=dirty
[submodule ".vim/bundle/fcitx"]
	path = .vim/bundle/fcitx
	url = git://github.com/vim-scripts/fcitx.vim.git
	ignore=dirty
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = git://github.com/corntrace/bufexplorer.git
	ignore=dirty
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
	ignore=dirty
;[submodule ".vim/bundle/command-t"]
	;path = .vim/bundle/command-t
	;url = git://git.wincent.com/command-t.git
	;ignore=dirty
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
	ignore=dirty
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
	ignore=dirty
[submodule ".vim/bundle/TeTrIs"]
	path = .vim/bundle/TeTrIs
	url = git://github.com/vim-scripts/TeTrIs.vim.git
	ignore=dirty
[submodule ".vim/bundle/qiushibaike"]
	path = .vim/bundle/qiushibaike
	url = git://github.com/vim-scripts/qiushibaike.git
	ignore=dirty
[submodule ".vim/bundle/colorizer"]
	path = .vim/bundle/colorizer
	url = git://github.com/lilydjwg/colorizer.git
	ignore=dirty
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
	ignore=dirty
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
	ignore=dirty
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore=dirty
[submodule ".vim/bundle/vimcdoc"]
	path = .vim/bundle/vimcdoc
	url = git://github.com/ahao/vimcdoc.git
	ignore=dirty
[submodule ".vim/bundle/calendar"]
	path = .vim/bundle/calendar
	url = git://github.com/vim-scripts/calendar.vim--Matsumoto.git
	ignore=dirty
[submodule ".vim/vimcn/NERD_commenter"]
	path = .vim/vimcn/NERD_commenter
	url = git://github.com/vimcn/NERD_commenter.git
	ignore=dirty
[submodule ".vim/vimcn/neocompletecache"]
	path = .vim/vimcn/neocompletecache
	url = git://github.com/vimcn/neocompletecache.git
	ignore=dirty
[submodule ".vim/vimcn/vimwiki"]
	path = .vim/vimcn/vimwiki
	url = git://github.com/vimcn/vimwiki.vim.git
	ignore=dirty
[submodule ".vim/vimcn/matchit"]
	path = .vim/vimcn/matchit
	url = git://github.com/vimcn/matchit.vim.git
	ignore=dirty
[submodule ".vim/vimcn/NERD_tree"]
	path = .vim/vimcn/NERD_tree
	url = git://github.com/vimcn/NERD_tree.vim.git
	ignore=dirty
