[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/NERD_Commenter"]
	path = .vim/bundle/NERD_Commenter
	url = git://github.com/vim-scripts/The-NERD-Commenter.git
[submodule ".vim/bundle/XPTemplate"]
	path = .vim/bundle/XPTemplate
	url = git://github.com/drmingdrmer/xptemplate.git
[submodule ".vim/bundle/NERD_tree"]
	path = .vim/bundle/NERD_tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule ".vim/bundle/vimviki"]
	path = .vim/bundle/vimviki
	url = git://github.com/vim-scripts/vimwiki.git
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
